<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.displace.sdp2022">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DisPlace1">

        <activity
            android:name=".profile.qrcode.QrCodeScannerActivity"
            android:exported="false"
            android:parentActivityName=".profile.ProfileActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".profile.friendInvites.FriendRequest"
            android:exported="false" />
        <activity
            android:name=".profile.friendInvites.AddFriendActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".authentication.SignInActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".matchMaking.MatchMakingActivity"
            android:exported="false"
            android:parentActivityName=".GameListActivity"/>
        <activity
            android:name=".GameSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".UploadImageActivity"
            android:exported="false" />
        <activity
            android:name=".profile.friends.FriendProfile"
            android:exported="false" />
        <activity
            android:name=".profile.messages.SendMessageActivity"
            android:exported="false"
            android:parentActivityName=".profile.ProfileActivity" />
        <activity
            android:name=".profile.settings.AccountSettingsActivity"
            android:exported="false">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DemoMapActivity"
            android:exported="false" />
        <activity
            android:name=".news.NewsActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PlayActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GameListActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>
        <activity
            android:name=".GameVersusViewActivity"
            android:exported="false"
            android:parentActivityName=".GameListActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.displace.sdp2022.GameListActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>